/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	color:#333;
	font-family:sans-serif;
	background: #e6ecf0;
	font-weight: 500;
	line-height: 1;

}
a:hover {
	cursor: pointer;
	text-decoration: none;
}

li a, li a:visited {
	text-decoration:none;
	outline:none;
}

li a:hover{
	text-decoration:underline;
	color: #1B95E0
}

/*main container*/

.container {
    max-width: 1015px;
    margin: auto 0;
}
.sidebar,.content{
    color: #333;
    height: auto;
    margin: 20px;
    float: left;
}
.container .sidebar{
    max-width:  300px;
    margin: 20px 0 20px 20px;
}
.container .content{
    max-width: 630px;
}
.container .topbar .logo {
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
}
.container .topbar .logo a {
	color: #1da1f2;
}
.container .topbar{
	height: 56px;
	background: #fff;
    box-shadow: 0 3px 5px 0 rgba(29, 161, 242, 0.2);
    margin: 0 20px;
}
.container .topbar ul>li{
	display: inline-block;
	padding: 15px;
    float: right;
    font-weight: 600;
    color: #66757f;
    font-size: 13px;
}

/* Form & timeline styles */

#twitter-container{
	background: #fff;
	max-width: 600px;
	font-size:11px;
	color:#333333;
}
#tweetForm label{
	font-size: 18px;
    padding-bottom: 10px;
    display: block;
}
#tweetForm textarea{
	width: 100%;
	height:58px;
	margin:5px 0 10px 0;
	padding: 4px 2px;
	resize: none;	
	overflow:auto;
	font-size:14px;
	background: #fff;
    border: 1px solid #dddddd;
}
#tweetForm .submitButton{
	color:#fff;
	font-size:12px;
	height:32px;
	width:80px;
	-moz-border-radius:30px;
	-webkit-border-radius: 30px;
	border-radius:30px;
	border:1px solid #cccccc;
	cursor:pointer;
	float:right;
	background: #1da1f2;
	font-weight: 600
}
#tweetForm .submitButton:hover{
	background-position:bottom;
	border-color:#dddddd;
}
.inact,.inact:hover{
	background:#f5f5f5;
	border:1px solid #eeeeee;
	color:#333;
	cursor:auto;
}
.tweet_box #tweetForm{
	background: rgba(29, 161, 242, 0.25);
    padding: 30px;
}
.timeline_box{
	background: #fff
}
.timeline_box .timeline{
	margin-top:20px;
	color:#0084B4;
	font-size:18px;
	font-weight:normal;
	padding: 10px 20px;
}
.timeline_box .statuses{
	margin:10px 0;
}
.timeline_box .statuses li {
	position:relative;
	border-bottom:1px solid #e6ecf0;
	padding:20px;
	list-style:none;
	font-size:14px;
}
.statuses li:hover{
	background-color:#F7F7F7;
	cursor: pointer;
}
.statuses .tweetTxt{
	max-width: 600px;
	overflow:hidden;
	margin-bottom: 10px;
}
.statuses .username2{
	color: #657786
}
.tweetTxt .comment{
	padding-top: 5px;
}
.tweetTxt a {
	 color: #14171a;
    font-size: 14px;
    font-weight: bold;
}
.statuses .bottom_buttons{
	margin-top: 10px;
	margin-left: 50px;
}
.statuses .bottom_buttons a{
	text-decoration: none;
	color: #657786
}
.statuses .bottom_buttons a:hover{
	color: #1da1f2
}
.statuses .bottom_buttons span{
	padding-right: 20px;
	font-size: 12px;
	color: #657786;
	font-weight: 600
}
.statuses .bottom_buttons i{
	padding:  10px 5px 10px 5px;
	font-weight: 600
}
.statuses .verified{
	color: #1da1f2;
}
.statuses span{
	padding: 0px 5px;
	font-weight: 500
}
.statuses img.tweetImg {
	max-width: 80%;
    padding: 10px 40px 0px 60px;
}
.statuses a img{
	float:left;
	margin-right:10px;
	border-radius: 50%;
	-moz-border-radius:50%;
	-webkit-border-radius: 50%;
	width: 48px;
	height: 48px;
}
.statuses .date{
	line-height:18px;
	color:#657786;
}
.left{
	float: left;
}
.clear{
	clear:both;
}

/*User profile card*/

.user-profile {
   margin: auto;
   width: 200px;
   height: 220px;
   background: #fff;
   border-radius: .3em;
   -moz-border-radius: .3em;
   -webkit-border-radius: .3em;
}
.user-profile  .username {
  padding: 5px 10px;
  color: #657786;
  font-size: 13px;

}
.user-profile  .bio {
  padding: 5px 10px;
  color: #555;
  margin-top: 10px;
  font-weight: 600;
}
.user-profile .profile-header{
	background: #1B95E0;
}
.user-profile .profile-header img {
  padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 80px;
  width: 80px;
  border-radius: 18em;
  -moz-border-radius:18em;
  -webkit-border-radius: 18em;
}
.user-profile ul.data {
  margin: 2em auto;
  height: 3.70em;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.user-profile li {
  margin: 0 auto;
  padding: 1.30em; 
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}
.user-profile span {
  color: #333;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}

/* responsive */
@media screen and (max-width: 620px) {
	body{
		font-size: 14px;
	}
	.comment{
		font-size: 14px;
	}
	.user-profile{
		width: 300px
	}
}